.card {
    align-items: center;
    background-color: red;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 4rem;
    justify-content: center;
    padding: 10px;
}

.card.active {
    background-color: black;
    color: red;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.card-form {
    display: flex;
}

.card-form * {
    flex: 1;
}

.card-table {
    margin-bottom: 15px;
}
